/* 
Teal color (used for headings and backgrounds): #4aaaa5
Regular font color (used for paragraphs and all text besides the headings): #777777
Main header background color: #ffffff
Main header border color: #cccccc
Footer background color: #666666
Main content background color: #ffffff
Main content border color: #dddddd */

/* For heading fonts use font-family: 'Georgia', Times, Times New Roman, serif;.
For all other fonts use 'Arial', 'Helvetica Neue', Helvetica, sans-serif;. */

/* Use Bootstrap's grid system (containers, rows, and columns). */

/* 
On an xs screen, content should take up the entire screen. On sm and larger screens,
 you should have some margins on the left and right sides of the screen. Check out various 
 sites on your mobile device vs. your computer to see examples of these differences. */
body {
    font-family: 'Arial', Helvetica, sans-serif;
    font-size: medium;
    /* color: #ffffff; */
    background-image: url("../images/beanstalk.png");
    background-repeat: repeat;   
}

#navBrand {
    color: #ffffff;
    font-size: 3rem;
    font-weight: bolder;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
 
}
.navbar-brand {
background-color: #4aaaa5;
padding: 17px;
 }

.card-index {
    width: 40rem;
    margin-left: 2%;
    margin-right: 30px;
    margin-top: 5%;
    margin-bottom: 3%;
    padding-left: 20px;
    padding-right: 20px;

}
.card-img {
    max-width: 350px;
    max-height: 350px;
    margin-right: 2rem;
    margin-bottom: 2rem;
    float: left;
}

.card-title {
    color: #4aaaa5;
    font-size: 35px;
    font-weight: bolder;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
}
.card-portfolio {
    width: 52rem;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 5%;
    margin-bottom: 3%;
    padding-left: 20px;
}

.form-contact {
    width: 40rem;
    height: 40rem;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 5%;
    margin-bottom: 3%;
    padding-left: 20px;
}

.button-form {
    background-color: #4aaaa5;
    color: #ffffff;
    border-color: #4aaaa5;
    float: left;
    width: 8rem;
    height: 4rem;
    margin-top: 2rem;
}

.portfolio-title {
    margin: 1rem;
}

label {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

@media screen and (max-width: 575px) {

   .navbar { 
    width: auto;
   }
   #navBrand {
    color: #ffffff;
    font-size: 1rem;
    font-weight: bolder;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
   width: auto;
    float:left;
    }
    .navbar-toggler {
        float: left;
        columns: 20%;
    }

    .navbar-brand {
    background-color: #4aaaa5;
    padding: 0.5rem;
    }
    
    .card-index {
        width: auto;
    }
    .card-text {
        float: left;
    }

    /* Portfolio page */

    .card-portfolio {
        width: auto;
        margin-left: 3rem;
        margin-right: 3rem;
        margin-top: 5%;
        margin-bottom: 3%;
        padding-left: 20px;
    }

    .card-title {
            color: #4aaaa5;
            font-size: 1.6rem;
            font-weight: bolder;
            font-family: 'Georgia', 'Times New Roman', Times, serif;
    }

    .form-contact {
        width: auto;
        height: 40rem;
        margin-left: 3rem;
        margin-right: 3rem;
        margin-top: 5%;
        margin-bottom: 3%;
        padding-left: 20px;
    }
    
    .button-form {
        background-color: #4aaaa5;
        color: #ffffff;
        border-color: #4aaaa5;
        float: left;
        width: 8rem, auto;
        height: 4rem, auto;
        margin-top: 2rem;
    }

}
@media screen and (max-width: 767px) {
   
  
}
@media screen and (max-width: 991px) {
 
 
   
}
@media screen and (min-width:992px) {
       
     
 

}
